@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.Navbar {
  display: flex;
  height: 6vh;
  align-items: center;
  justify-content: flex-start;
}
.Navbar-logo {
  margin-right: 15px;
  padding: 0 13px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  background-color: #eceff1;
}
.Navbar-logo a {
  text-decoration: none;
  color: black;
}
.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}
.rc-slider-track {
  background-color: transparent;
}
.rc-slider-handle,
.rc-slider-handle:focus,
.rc-slider-handle:active,
.rc-slider-handle:hover {
  outline: none;
  border: 2px solid green;
  background-color: green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-top: -2px;
}
.rc-slider-rail {
  height: 8px;
}
.select-container {
  margin-left: auto;
  margin-right: 1rem;
}
